# .github/CODEOWNERS

# Frontend Team
/frontend/                              @CivicShields/frontend-team

# Backend Microservices - Individual Owners
/backend/auth-service/                  @Phirisoilx6
/backend/incident-service/              @innocent1982

# Backend General (For shared files or changes in the /backend root)
/backend/                               @CivicShields/backend-team

