# .github/CODEOWNERS

# Frontend Team

/frontend/ @CivicShields/frontend-team

# Backend Microservices - Individual Owners

/backend/auth-service/ @Phirisoilx6
/backend/incident-service/ @innocent1982
/backend/department-service @glory4-cloud
/backend/media-service @CivicShields/frontend-team
/backend/notification-service @Purpose-collab
